@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
        <script src="/js/index.js"></script>
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
         
    </div>
  
</div>
<br ><br >
<div class="text-center" id="app">
    {{msg}}
    <feature-list></feature-list>
    <feature-list-2></feature-list-2>
    <feature-list-3 inline-template>
        <ul> 
        <li v-for="item in items" style="border:1px solid blue">{{item}} </li>
    </ul>
    </feature-list-3>
</div>

<script id="feature-list-2" type="text/x-template">
    <ul> 
        <li v-for="item in items" style="border:1px solid red">{{item}} </li>
    </ul>
</script>
 
</div>

